<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Sign Up</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Create a new Shipper account!</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required />

    <label for="address">Address:</label>
    <input type="text" name="address" id="address" required />

    <label for="phonenumber">Phone:</label>
    <input type="text" name="phone" id="phone" required />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

=======
  <title>Sign Up</title>
</head>
<body>
  <h1>Create a new shipper account!</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
>>>>>>> 5deddf55c5b9e8a1737e658408e3a128da081bf7
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required 
    />
    <button type="submit">Sign up</button>
  </form>
<<<<<<< HEAD

=======
>>>>>>> 5deddf55c5b9e8a1737e658408e3a128da081bf7
</body>
</html>
