<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Driver Sign Up</title>
</head>
<body>
  <%- include('../partials/_navbar-driver.ejs') %>
  
  <h1>Create a new Driver account!</h1>
  <form action="/auth/sign-up-driver" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required />

    <label for="vehicleType">Vehicle type</label>
    <select name="vehicleType" id="vehicleType">
        <option value="sedan">Sedan</option>
        <option value="suv">SUV</option>
        <option value="truck">Truck</option>
    </select>

    <label for="phonenumber">Phone:</label>
    <input type="text" name="phone" id="phone" required />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required 
    />
    <button type="submit">Sign up</button>
  </form>

</body>
</html>
