<!-- views/partials/_navbar.ejs -->

<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
    <% if (user) { %>
      <div class="navbar">
        <h1 id="nav-header">Ondemand</h1>
        <div class="nav-links">
          <a class="authlink" href="/users/<%= user._id %>/orders/new">Create New Order</a>
          <a class="authlink" href="/users/<%= user._id %>/orders">Live Orders</a>
          <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
      </div>  
    <% } else { %>
      <div class="navbar">
        <h1 id="nav-header">Ship-Ondemand</h1>
        <div class="nav-links">

          <a class="authlink" href="/auth/sign-in">Shipper Sign In</a>
          <a class="authlink" href="/auth/sign-up">Shipper Sign Up</a>
          <a class="authlink" href="/auth/sign-in-driver">Driver</a>

        </div>
      </div>  
    <% } %>
  </nav>