<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Ondemand Delivery Platform</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <h1>Ondemand</h1>
  <p>An Ondemand Logistics Platform.</p>
  <!-- <a href="/auth/sign-up">Shipper Sign up</a>
  <a href="/auth/sign-in">Shipper Sign in</a> -->
=======
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome to the ondemand deliver platform. <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to the ondemand deliver platform, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
  <p><a href="/vip-lounge">Get into the Shippers Only lounge!</a></p>
>>>>>>> 5deddf55c5b9e8a1737e658408e3a128da081bf7
</body>
</html>
