<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>New Load</title>

    <!-- Need google api -->
    <!-- <script>
        async function calculateRate() {
            const pickupLocation = document.getElementById('pickupLocation').value;
            const dropoffLocation = document.getElementById('dropoffLocation').value;
            const rateElement = document.getElementById('estimatedRate');
            if (pickupLocation && dropoffLocation) {
                try {
                    const response = await fetch(`/api/calculate-distance?pickup=${encodeURIComponent(pickupLocation)}&dropoff=${encodeURIComponent(dropoffLocation)}`);
                    const data = await response.json();

                    if (data.distance && data.rate) {
                        rateElement.value = data.rate;
                    } else {
                        rateElement.value = 'Error calculating rate';
                    }
                } catch (error) {
                    console.error('Error calculating rate:', error);
                    rateElement.value = 'Error calculating rate';
                }
            }
        }
    </script> -->
</head>
<body>
    <%- include('../partials/_navbar-driver.ejs') %>
    <h1>New Load</h1>

    <form action="/users/<%= user._id %>/orders" method="POST">
        <label for="pickupLocation">Pick-up Location</label>
        <input type="text" name="pickupLocation" id="pickupLocation" oninput="calculateRate()">

        <label for="dropoffLocation">Drop-off Location</label>
        <input type="text" name="dropoffLocation" id="dropoffLocation" oninput="calculateRate()">

        <label for="date">Date</label>
        <input type="date" name="date" id="date">

        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>

        <label for="vehicleType">Vehicle type</label>
        <select name="vehicleType" id="vehicleType">
            <option value="Sedan">Sedan</option>
            <option value="Suv">SUV</option>
            <option value="Truck">Truck</option>
        </select>

        <label for="status">Order Status</label>
        <select name="status" id="status">
            <option value="Pending">Pending</option>
            <option value="Ready For Pick-up">Ready for Pick-up</option>
        </select>

        <label for="estimatedRate">Estimated Rate</label>
        <input type="text" name="estimatedRate" id="estimatedRate" readonly>

        <button type="submit">Accept order</button>
    </form>

</body>
</html>
